---
import Layout from '../layouts/Layout.astro';

import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
import CampaignIntro from '../components/campaign-intro.astro';
import CampaignFilters from '../components/campaign-filters.astro';
import CampaignSummary from '../components/campaign-summary.astro';
import CandidateOverviews from '../components/candidate-overviews.astro';
import AssessorAverages from '../components/assessor-averages.astro';

import '../styles/global.css';
---

<Layout>
	<header class="sticky top-0 z-50 bg-white shadow-md">
		<Nav />
	</header>

	<main class="bg-gray-200 p-4 md:p-8 space-y-8">
		<div class="max-w-7xl mx-auto">
			<CampaignIntro />

			<CampaignFilters />

			<CampaignSummary />

			<CandidateOverviews />

			<AssessorAverages />
		</div>
	</main>

	<footer>
		<Footer />
	</footer>
</Layout>
