<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>James Bateson - Unseen Group Task</title>

		<link
			rel="icon"
			href="https://www.topscoretech.com/wp-content/uploads/2020/11/Transparent_TS_Logo.png"
			sizes="192x192"
		/>
		<link
			rel="apple-touch-icon"
			href="https://www.topscoretech.com/wp-content/uploads/2020/11/Transparent_TS_Logo.png"
		/>
		<meta
			name="msapplication-TileImage"
			content="https://www.topscoretech.com/wp-content/uploads/2020/11/Transparent_TS_Logo.png"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
