<table
	class="table-auto lg:table-fixed border-collapse w-full border border-gray-600"
>
	<caption class="text-left text-2xl mb-4 font-bold">Presentation</caption>
	<thead>
		<tr class="bg-brand-purple text-white text-left align-top">
			<th class="p-2">Assessor name</th>
			<th class="p-2"
				>Teamwork <span class="block font-normal">(out of 5)</span></th
			>
			<th class="p-2"
				>Customer focus <span class="block font-normal">(out of 5)</span
				></th
			>
			<th class="p-2"
				>Analytical thinking <span class="block font-normal"
					>(out of 5)</span
				></th
			>
			<th class="p-2"
				>Commercial acumen <span class="block font-normal"
					>(out of 5)</span
				></th
			>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="p-2 bg-white font-medium">Charlotte Heck</td>
			<td class="p-2 bg-red-700 text-white font-medium"
				>1.7 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
		</tr>

		<tr>
			<td class="p-2 bg-white font-medium">Lewis Whitehead</td>
			<td class="p-2 bg-green-700 text-white font-medium"
				>4 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-7"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM164.1 325.5C182 346.2 212.6 368 256 368s74-21.8 91.9-42.5c5.8-6.7 15.9-7.4 22.6-1.6s7.4 15.9 1.6 22.6C349.8 372.1 311.1 400 256 400s-93.8-27.9-116.1-53.5c-5.8-6.7-5.1-16.8 1.6-22.6s16.8-5.1 22.6 1.6zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-green-700 text-white font-medium"
				>4 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM164.1 325.5C182 346.2 212.6 368 256 368s74-21.8 91.9-42.5c5.8-6.7 15.9-7.4 22.6-1.6s7.4 15.9 1.6 22.6C349.8 372.1 311.1 400 256 400s-93.8-27.9-116.1-53.5c-5.8-6.7-5.1-16.8 1.6-22.6s16.8-5.1 22.6 1.6zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-orange-700 text-white font-medium"
				>3 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM176.4 176a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm128 32a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM160 336l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
					></path></svg
				></td
			>
			<td class="p-2 bg-orange-700 text-white font-medium"
				>3 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM176.4 176a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm128 32a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM160 336l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
					></path></svg
				></td
			>
		</tr>

		<tr>
			<td class="p-2 bg-white font-medium">Saeed Assessor</td>
			<td class="p-2 bg-red-700 text-white font-medium"
				>1.7 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
		</tr>

		<tr>
			<td class="p-2 bg-white font-medium">Tammy Ross</td>
			<td class="p-2 bg-red-700 text-white font-medium"
				>1.7 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
		</tr>

		<tr>
			<td class="p-2 bg-white font-medium">Samantha Lee</td>
			<td class="p-2 bg-red-700 text-white font-medium"
				>1.7 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
		</tr>

		<tr>
			<td class="p-2 bg-white font-medium">Sophie Thomas</td>
			<td class="p-2 bg-red-700 text-white font-medium"
				>1.7 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
			<td class="p-2 bg-red-700 text-white font-medium"
				>0 <svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="15"
					height="15"
					aria-hidden="true"
					class="fill-white inline-block ml-5"
					><path
						d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
					></path></svg
				></td
			>
		</tr>
	</tbody>
</table>
