---
import TableSingle from '../components/assessor-table-single.astro';
---

<section class="py-8">
	<h2>Assessor averages</h2>

	<div class="overflow-x-auto md:grid lg:grid-cols-2 md:gap-8">
		<TableSingle />
		<TableSingle />
	</div>
</section>
