<section class="py-8">
	<h2>All candidates exercise averages</h2>

	<div
		class="flex flex-col md:grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 text-center"
	>
		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">0.98</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					20
				</span>

				<span class="block mt-3 text-xl">Presentation</span>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">1.6</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					15
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Group presentation</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">1.5</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					28
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Interview of somesort</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">1.17</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					20
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Written exercise / preparation work</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-orange-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM176.4 176a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm128 32a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM160 336l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">2</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					4
				</span>

				<span class="block mt-3 text-xl">Funky Interview</span>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">0</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					100
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Strengths-based interview</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">0</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					5
				</span>

				<span class="block mt-3 text-xl text-balance">In tray VS</span>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">0</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					290
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Data science test</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">0</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					5
				</span>

				<span class="block mt-3 text-xl text-balance"
					>UI test exercise 123</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-green-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM164.1 325.5C182 346.2 212.6 368 256 368s74-21.8 91.9-42.5c5.8-6.7 15.9-7.4 22.6-1.6s7.4 15.9 1.6 22.6C349.8 372.1 311.1 400 256 400s-93.8-27.9-116.1-53.5c-5.8-6.7-5.1-16.8 1.6-22.6s16.8-5.1 22.6 1.6zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">7</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					10
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Question ordering test</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">0</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					5
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Case study written exercise</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-red-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.3 388.7c-2.6 8.4-11.6 13.2-20 10.5s-13.2-11.6-10.5-20C145.2 326.1 196.3 288 256 288s110.8 38.1 127.3 91.3c2.6 8.4-2.1 17.4-10.5 20s-17.4-2.1-20-10.5C340.5 349.4 302.1 320 256 320s-84.5 29.4-96.7 68.7zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">0</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					15
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Written exercise December 23</span
				>
			</h3>
		</div>

		<div class="bg-white py-6 px-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				width="30"
				height="30"
				aria-hidden="true"
				class="fill-orange-600 mx-auto mb-4"
				><path
					d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM176.4 176a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm128 32a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM160 336l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
				></path></svg
			>
			<h3 class="text-5xl font-medium">
				<span class="text-brand-purple">64.05</span>
				<span class="sr-only">out of</span>
				<span class="text-3xl font-bold">
					<span aria-hidden="true">/</span>
					125
				</span>

				<span class="block mt-3 text-xl text-balance"
					>Fresh exercise - Non-sequential scoring</span
				>
			</h3>
		</div>
	</div>
</section>
