---
import TableSingle from '../components/assessor-table-single.astro';
---

<section class="py-8">
	<h2>Assessor averages</h2>

	<div class="flex flex-col md:grid lg:grid-cols-2 gap-8">
		<TableSingle />
		<TableSingle />
	</div>
</section>
