<section class="py-6 md:py-12">
	<h2>Filter campaign</h2>

	<form
		class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-4 gap-4 md:items-end md:gap-10"
	>
		<div>
			<label for="campaign" class="block text-sm mb-1"
				>Campaign name</label
			>

			<div class="relative">
				<select
					id="campaign"
					class="w-full p-2 rounded text-black appearance-none"
				>
					<option selected>BP Test Campaign</option>
					<option>Test Campaign 1</option>
					<option>Test Campaign 2</option>
					<option>Test Campaign 3</option>
					<option>Test Campaign 4</option>
				</select>

				<svg
					class="pointer-events-none absolute right-2 top-1/2 transform -translate-y-1/2"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					width="20"
					height="20"
					aria-hidden="true"
					><path
						d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
					></path></svg
				>
			</div>
		</div>

		<div>
			<label for="start-date" class="block text-sm mb-1">Start date</label
			>
			<input
				id="start-date"
				type="date"
				class="w-full p-2 rounded text-black"
				value="2025-05-18"
			/>
		</div>

		<div>
			<label for="end-date" class="block text-sm mb-1">End date</label>
			<input
				id="end-date"
				type="date"
				class="w-full p-2 rounded text-black"
				value="2025-05-21"
			/>
		</div>

		<div class="mt-4 md:mt-auto col-span-2 md:col-span-1 md:align-self-end">
			<button type="submit" class="px-4 py-2 w-full">Apply filters</button
			>
		</div>
	</form>
</section>
