<section>
	<h1 class="text-4xl md:text-6xl font-black text-brand-purple mt-1">
		<span class="text-xl md:text-3xl text-black font-normal mt-2 block"
			>BP Test Campaign</span
		>
		Campaign dashboard
	</h1>

	<p class="text-lg mt-4 max-w-[75ch]">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quae
		sapiente officiis voluptatem ipsa eaque hic, corporis distinctio fugiat
		tenetur dignissimos fuga itaque non repellendus nisi facere excepturi
		maxime! Repudiandae.
	</p>
</section>
