<div class="bg-brand-purple">
	<div
		class="w-full mx-auto max-w-[1440px] p-4 md:flex md:items-center md:justify-between text-white"
	>
		<p>&copy; 2025 TopScore.</p>
		<ul class="flex flex-wrap items-center mt-3 font-medium sm:mt-0">
			<li>
				<a href="#" class="hover:underline me-4 md:me-6">About</a>
			</li>
			<li>
				<a href="#" class="hover:underline me-4 md:me-6"
					>Privacy policy</a
				>
			</li>
			<li>
				<a href="#" class="hover:underline me-4 md:me-6"
					>Accessibility statement</a
				>
			</li>
			<li>
				<a href="#" class="hover:underline me-4 md:me-6">FAQs</a>
			</li>
			<li>
				<a href="#" class="hover:underline">Contact</a>
			</li>
		</ul>
	</div>
</div>
